# Dependencies
node_modules

# Build output
dist
build

# Environment files
.env
.env.*

# Logs
*.log

# Vite output (if configured)
*.local

# Public assets that shouldn't be formatted
public/*.svg
public/*.html
public/formio-v5/

# Written by eslint
eslint-suppressions.json

# Ignore lockfile
package-lock.json