{{- if .Values.frontend.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "fullname" . }}-frontend
  labels: {{- include "labels" . | nindent 4 }}
spec:
  {{- if not .Values.global.autoscaling }}
  replicas: 1
  {{- end }}
  strategy:
    type: {{ .Values.frontend.deploymentStrategy }}
  selector:
    matchLabels:
      app: {{ include "fullname" . }}-frontend
  template:
    metadata:
      labels:
        app: {{ include "fullname" . }}-frontend
        {{- include "selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: frontend
          image: {{ .Values.global.registry }}/{{ .Values.global.repository }}/frontend:{{ .Values.global.tag }}
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
              protocol: TCP
          env:
            - name: BACKEND_URL
              value: http://{{ include "fullname" . }}-backend:{{ .Values.backend.service.port }}
            - name: NODE_ENV
              value: production
          readinessProbe:
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 30
            timeoutSeconds: 5
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 256Mi
{{- end }}
