# Production environment overrides.
# 3 replicas, higher resources, 2 full backup retention.
crunchy:
  instances:
    - name: db
      replicas: 3
      dataVolumeClaimSpec:
        storage: 1Gi
        storageClassName: netapp-block-standard
      walVolumeClaimSpec:
        storage: 1Gi
        storageClassName: netapp-block-standard
      requests:
        cpu: 100m
        memory: 256Mi

  pgBouncerConfig:
    replicas: 2
    requests:
      cpu: 10m
      memory: 64Mi

  pgBackRestConfig:
    repos:
      - name: repo1
        volume:
          volumeClaimSpec:
            storage: 4Gi
            storageClassName: netapp-file-backup
        retention:
          full: 2
          fullType: count
