/* App.css */
:root {
  --bcgov-blue: rgb(0, 51, 102);
  --bcgov-blue-secondary: #38598a;
}

.bg-brand {
  background-color: var(--bcgov-blue);
}

.bg-brand-secondary {
  background-color: var(--bcgov-blue-secondary);
}
